* {
    padding: 0;
    box-sizing: border-box;
}



body {
    margin: 0;
}

#buttons-stepone {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;

}

#nav-header-img {
    width: 100%;
}

#footer-img {
    width: 100%;
}

#budget-summary {
    display: flex;
    flex-direction: column;
}

.expenses {
    display: flex;
    flex-direction: column;
}

#housing {
    text-align: center;
    width: auto;
    height: 3vh;
}

#essentials {
    text-align: center;
    width: auto;
    height: 3vh;
}

#student-loans {
    text-align: center;
    width: auto;
    height: 3vh
}

#life-style {
    text-align: center;
    width: auto;
    height: 3vh;
}

#future-proofing {
    text-align: center;
    width: auto;
    height: 3vh;
    
}

#expense-input {
   width: 50%;
    display: flex;
   flex-direction: column;
}

.containter-input {
    width: 50%;
    display: flex;
    flex-direction: row;
   
   
}
#buttons {
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 100%;
}
.taxes { /* make this into a table using flexbox */
    display: flex;
    flex: 0 0 50%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #000000;
    flex-direction: column;
    flex-wrap: wrap;

}
#allocate-your-money {
   border: #000000 1px solid;
    display: flex;
    flex-direction: column;
}